
abstract=This mini-ontology contains instances for each version of the licenses that are commonly used in software projects, particularly open source software projects.
ontologyTitle=Software Licenses Ontology
ontologyPrefix=swl
ontologyNamespaceURI=http://cor.esipfed.org/ont/earthcube/swl
ontologyName=Software Licenses Ontology
thisVersionURI=
latestVersionURI=http://cor.esipfed.org/ont/earthcube/swl
previousVersionURI=
dateOfRelease=2019-10-15
ontologyRevisionNumber=1.0
licenseURI=http://creativecommons.org/publicdomain/zero/1.0/
licenseName=CC0
licenseIconURL=null
citeAs=Duerr, R., 2019, "Software Licenses Ontology", ESIP Community Ontology Repository, available at http://cor.esipfed.org/ont/earthcube/swl
DOI=
status=Ontology Specification Draft
backwardsCompatibleWith=
publisher=EarthCube Office
publisherURI=https://www.earthcube.org/
publisherInstitution=Federation of Earth Science Information Partners
publisherInstitutionURI=null
authors=Ruth Duerr
authorsURI= https://orcid.org/0000-0003-4808-4736
authorsInstitution=Ronin Institute for Independent Scholarship
authorsInstitutionURI=
contributors=
contributorsURI=
contributorsInstitution=
contributorsInstitutionURI=
importedOntologyNames=
importedOntologyURIs=
extendedOntologyNames=
extendedOntologyURIs=
RDFXMLSerialization=ontology.xml
TurtleSerialization=ontology.ttl
N3Serialization=ontology.nt
JSONLDSerialization=ontology.json
